.card-container {
  display: inline-block;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    flex-flow: column;
  }
}
